<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Admin</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('games') }}">Games</a></li>
                <li><a href="{{ url_for('shed') }}">Shed</a></li>
                <li><a href="{{ url_for('players.players') }}">Players</a></li>
                <li><a href="{{ url_for('radio.radio') }}">Radio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Admin Page</h2>
        <form action="{{ url_for('players.add_player') }}" method="post" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="wins">Wins:</label>
            <input type="number" id="wins" name="wins" required>
            <label for="shedcoins">Shedcoins:</label>
            <input type="number" id="shedcoins" name="shedcoins" required>
            <label for="picture">Picture:</label>
            <input type="file" id="picture" name="picture">
            <button type="submit">Add Player</button>
        </form>
        <ul>
            {% for player in players %}
            <li>
                <img src="{{ url_for('static', filename='uploads/' ~ player.picture) }}" alt="{{ player.name }}" width="100" height="100">
                {{ player.name }} - Wins: {{ player.wins }} - Shedcoins: {{ player.shedcoins }}
                <form action="{{ url_for('players.edit_player', player_id=player.doc_id) }}" method="post" enctype="multipart/form-data">
                    <label for="picture">Change Picture:</label>
                    <input type="file" id="picture" name="picture">
                    <button type="submit">Update Picture</button>
                </form>
                <form action="{{ url_for('players.update_shedcoins', player_id=player.doc_id) }}" method="post">
                    <label for="shedcoins">Update Shedcoins:</label>
                    <input type="number" id="shedcoins" name="shedcoins" required>
                    <button type="submit">Update Shedcoins</button>
                </form>
                <form action="{{ url_for('players.add_win', player_id=player.doc_id) }}" method="post">
                    <button type="submit">Add Win</button>
                </form>
                <form action="{{ url_for('players.reset_stats', player_id=player.doc_id) }}" method="post">
                    <button type="submit">Reset Stats</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>