<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hickey's Shed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Hickey's Shed</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('games') }}">Games</a></li>
                <li><a href="{{ url_for('shed') }}">Shed</a></li>
                <li><a href="{{ url_for('players.players') }}">Players</a></li>
                <li><a href="{{ url_for('radio.radio') }}">Radio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="{{ url_for('radio.radio') }}">Go to Radio</a>
    </main>
</body>
</html>